# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache and logs
__pycache__/
*.py[cod]
*.log

# Ignore virtual environments
venv/
env/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore temporary files
*.tmp
*.swp
*.swo
